html, body {
  margin: 0;
  padding: 0;
}
.button{
  width:50%;
  height: 48%;
  background: linear-gradient(to right, #46dbd4a8, #ffffff);
  border-radius: 15px;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
  font-size: 50px;
}

.input{
  width:100%;
  height: 40px;
  border-radius: 25px;
  background-size: cover;
}

